.bar {
}

.label {
	font: 10px sans-serif;
	font-weight: bold;
	text-anchor: middle;
}

.axis text {
	font: 10px sans-serif;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}