#content {
    position: relative;
}

#d3bars {
    position: absolute;
    top: 40px;
    right: 60px;
	width: 450px;
	height: 250px;
}

#refresh {
    background:url(/public/images/refresh.png) no-repeat;
    background-size: 24px 24px;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    outline: 0;
    float: right;
}
