#{extends 'main.html' /}
#{set title:'Personal' /}
			<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/weather.css'}">
			<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/d3_bars.css'}">
			<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/d3.v3.min.js'}"></script>
			<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/weather.js'}"></script>
			<div id="parameters">
				<form class="params-form" action="#" onsubmit="return doRefresh(this.ipaddress.value);">
					<div>IP Address:</div>
					<input id="ipaddress" class="span2" name="ipaddress" type="text" placeholder="IP Address..." value="">
					<button id="refresh" title="Refresh" class="btn" type="submit"></button>
				</form>
			</div>
			<div id="content">
				<div class="hero-unit">
					<div id="weather">
						<div id="condition">
						</div>
						<div id="info">
						</div>
						<div id="d3bars">
						</div>
					</div>
				</div>
			</div>
